

.PopularAlbum {
    height: fit-content;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 20px;

}

.allData {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}