


.Footer {
    padding: 5%;
    background-color: white;
    display: flex;
    gap: 20px;
}

.Footer .ftrCont {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.Footer .About {
    width: 40%;
}
.Footer .Support {
    width: 20%;
}
.Footer .Links {
    width: 20%;
}
.Footer .Social {
    width: 20%;
}


.ftrCont div {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.ftrCont div a{
    font-size: 0.9rem;
    color: #666565;
}
.ftrCont div p {
    font-size: 0.9rem;
    color: #666565;
}

.socialIcon {
    display: flex;
    flex-direction: row !important;
    gap: 12px !important;
}
.socialIcon svg {
    height: 1.2rem;
}



.Footer.dark {
    background-color: #223548;
}
.Footer.dark b {
    color: white;
}
.Footer.dark a, .Footer.dark p {
    color: rgb(213, 213, 213);
}