

.ProductDetails {
    width: 100vw;
    height: fit-content;
    padding: 10%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.product {
    width: 80vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 20px;
    gap: 40px;
    box-shadow: 1px 1px 5px #e7e9eb;
}



.ProductDetails.dark {
    background-color: #040a10;
}
.ProductDetails.dark .loading {
    color: white;
}
.ProductDetails.dark .product {
    background-color: #223548;
    box-shadow: 1px 1px 5px #2f455b;
}
.ProductDetails.dark .loading {
    color: white;
}