.Favorite {
    padding: 5%;
    padding-top: 120px;
    display: flex;
    justify-content: center;
    min-height: 70vh;
}

.favDiv {
    background-color: white;
    padding: 30px;
    width: 90%;
    height: fit-content;
    border-radius: 20px;
    gap: 10px;
    box-shadow: 1px 1px 5px #e7e9eb;
    display: flex;
    flex-direction: column;
}

.notLoged {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 40px;
}
.notLoged button {
    background-color: #223548;
    border: none;
    padding: 8px 40px 8px 40px;
    border-radius: 25px;
    color: white !important;
    font-weight: 500px;
    cursor: pointer;
}


.Favorite.dark {
    background-color: #040a10;
}
.Favorite.dark .favDiv {
    background-color: #223548;
    box-shadow: 1px 1px 5px #2f455b;
}