body, h1, h2, h3, p, hr, a {
  margin: 0;
  color: #223548;
}

.bgGrey {
  width: 100vw;
  padding: 10%;
  box-sizing: border-box;
  background-color: #F5F6F7;
}

.triangle {
  position: relative;
  top: 2px;
}