body, h1, h2, h3,h4,h5,h6, p, hr, a {
  margin: 0;
  color: #223548;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

section {
  padding-top: 80px;
}


.bgGrey {
  width: 100%;
  box-sizing: border-box;
  background-color: #F5F6F7;
}
.bgDark {
  background-color: #040a10;
  color: #ffffff !important;
}



.pillInput {
  width: 200px;
  box-sizing: border-box;
  padding: 8px 16px;
  border-radius: 20px;
  border: 2px solid #2235486c;
  color: #223548;
}
.pillInput:focus {
  outline: none;
  border: 2px solid #223548;
}

.btnBlue {
  width: 100%;
  background-color: #223548;
  border: none;
  padding: 8px;
  border-radius: 25px;
  color: white;
  font-weight: 500px;
  cursor: pointer;
}
.btnBlue:focus {
  outline: 1px solid #b6c7da
}
.btnBlue:active {
  background-color: #284354;
}

.dark .btnBlue  {
  background-color: white;
  color: #223548;
}
.dark .btnBlue:active {
  background-color: rgb(234, 234, 234) !important;
}



