



.List {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 10px;
}
.load {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.data {
    padding: 10px;
    border-radius: 10px;
    width: 170px;
    height: 220px;
    cursor: pointer;
    overflow: hidden;
}
.data:hover {
    background-color: #dfe1e2;
}
.data img {
    width: 170px;
    height: 170px;
    border-radius: 10px;
}
.data p:nth-of-type(1) {
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
    font-weight: 600;
    color: black;
}
.data p:nth-of-type(2) {
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
    font-size: 0.9rem;
    color: #666565;
}



.dark .data:hover {
    background-color: #223548;
}
.dark .data p:first-of-type {
    color: white;
}
.dark .data p:last-of-type {
    color: #666565;
}