

.navBar {
    width: 100vw;
    box-sizing: border-box;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
}


.logoDiv {
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.logoDiv div {
    width: 32px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
    border-radius: 50%;
    background-color: white;
}
.logoDiv img {
    height: 24px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 9;
}
.links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    flex-grow: 8;
}
.links a {
    text-decoration: none !important;
    font-weight: 500;
}
.icons {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-grow: 2;
    justify-content: flex-end;
}
.logedOffIcons {
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.logedOffIcons .user {
    width: fit-content;
    
}
.navigation svg {
    cursor: pointer;
    height: 20px;
}
.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 6px; */
    background-color: #b4b4b4;
    border-radius: 25px;
    cursor: pointer;
    /* gap: 10px; */
    position: relative;
}
.user .avatar {
    height: 35px;
    margin: 5px;
    aspect-ratio: 1/1;
    background-color: rgb(37, 37, 37);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 2;
}
.user .avatar svg {
    height: 20px;
}
.user p {
    font-weight: 500;
    margin-right: 10px;
    z-index: 2;
}
.triangle {
    margin-right: 10px;
    z-index: 2;
}
.triangle svg {
    height: 12px;
}


.scrollingMenu {
    position: absolute;
    width: 100%;
    height: 60px;
    top: 20px;
    background-color: #b4b4b4;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.darkMode {
    height: 26px;
    width: 52px;
    background-color: #223548;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 3px;
    cursor: pointer;
}
.darkMode.left {
    justify-content: flex-start;
}
.darkMode.right {
    justify-content: flex-end;
}
.darkMode div {
    background-color: white;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}




.navBar.dark {
    background-color: #223548;
}
.dark a {
    color: white;
}
.dark .darkMode {
    background-color: white;
}
.dark .darkMode div {
    background-color: #223548;
}
.dark .darkMode svg {
    color: white;
}
/* .dark .logoDiv div {
    background-color: white;
} */