

.navBar {
    width: 100vw;
    box-sizing: border-box;
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
}


.logoDiv {
    display: flex;
    align-items: center;
}


.navigation {
    display: flex;
    align-items: center;
    gap: 100px;
}
.links {
    display: flex;
    align-items: center;
    gap: 20px;
}
.links a {
    text-decoration: none !important;
    font-weight: 500;
}
.icons {
    display: flex;
    align-items: center;
    gap: 20px;
}
.navigation svg {
    cursor: pointer;
    height: 20px;
}
.user {
    display: flex;
    align-items: center;
    padding: 6px;
    background-color: #b4b4b4;
    border-radius: 25px;
    gap: 12px;
    cursor: pointer;
}
.user .avatar {
    height: 35px;
    aspect-ratio: 1/1;
    background-color: rgb(37, 37, 37);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.user .avatar svg {
    height: 20px;
}
.user p {
    font-weight: 500;
}
.triangle {
    margin-right: 10px;
    position: relative;
    top: 2px;
}
.triangle svg {
    height: 12px;
}